# Cache objects
packer_cache/
# Packer executable
packer

# For built boxes
*.box
packer.1.3.5
*.tfstate.backup
*.tfstate
*/.terraform/*

lock.json
variables.live.json
terraform/centos7/image/.terraform/plugins/darwin_amd64/lock.json
terraform/*/.terraform/