# Locale and keyboard selection
d-i debian-installer/locale string en_US
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

# Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC

# Grub and reboot message
d-i finish-install/reboot_in_progress note
d-i grub-installer/only_debian boolean true

# Partitioning
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true

# User configuration
d-i passwd/user-fullname string autotmm
d-i passwd/username string autotmm
d-i passwd/user-password-crypted password $6$i3mNhqKGx$IS9I.RGx9/4pBNbN7l/vXnEgHPHmre5.UOkpCMD9cpJFVhLU3fmvY0t8OszDyT8d7.Z55.KZ8M0daw04Vhrxn0
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

#Root Configuration
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password $6$i3mNhqKGx$IS9I.RGx9/4pBNbN7l/vXnEgHPHmre5.UOkpCMD9cpJFVhLU3fmvY0t8OszDyT8d7.Z55.KZ8M0daw04Vhrxn0

# Package Configuration
tasksel tasksel/first standard
d-i pkgsel/include string openssh-server build-essential open-vm-tools openssh-server ntp
d-i pkgsel/install-language-support boolean false
# Disable automatic package updates
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade

# Add autotmm user to sudoers
d-i preseed/late_command string \
    echo 'autotmm ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/autotmm ; \
    in-target chmod 440 /etc/sudoers.d/autotmm ;
